<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="javascript:history.back()" class = "back">←</a>
        <p class="points" id = "points">Очки: 0</p>


        <p class="pointsNOW" id = "pointsNOW">Очков за клик: 1</p>

        <img class="header" src="../img/logo2.png" id = "logo"> </img>


        <div class="hello" id = "2">ПРИВЕТ</div>

        <div class="text" id = "3">Это обычная игра-кликер, сейчас я проведу краткий экскурс</div>

        <button class="next"  id = "1">Далее</button>

        <div class="under">
            <div class="floor-one">
                <button class="buff-one" id = "1000">
                    <p>Прибавка к очкам +1</p>


                    <p>Очки -10</p>
                </button>

                <button class="buff-one" id = "2000"><p>Прибавка к очкам +10</p>


                    <p>Очки -100</p></button>

                <button class="buff-one" id = "3000"><p>Прибавка к очкам +100</p>


                    <p>Очки -1000</p></button>
            </div>
            

            <div class="floor-one">
                <button class="buff-one" id = "4000">
                    <p>Прибавка к очкам +200</p>


                    <p>Очки -2000</p>
                </button>

                <button class="buff-one" id = "5000"><p>Прибавка к очкам +20000</p>


                    <p>Очки -200000</p></button>
                
                <button class="buff-one" id = "6000"><p>Прибавка к очкам +1000000</p>


                    <p>Очки -10000000</p></button>
            </div>  


        </div>

    </div>
    

    <script src = "../static/js/scripts2.js"></script>
</body>
</html>